@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.7) !important;
    transition: background-color 1000s ease-in-out 0s;
  } */
}

#root,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background: #ececec;
}
